.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search {
  margin: 8px 0 16px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tableHeader {
  text-align: left;
  font-weight: bold;
}

.tableHead {
  padding: 24px;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
}

.tableData {
  padding: 24px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
}

.actionsHead {
  text-align: right;
}

.actionsData {
  text-align: right;
}

.icon {
  width: 16px;
  height: 16px;
  color: black;
}

.icon path {
  transition: ease 200ms;
}

.icon:hover {
  cursor: pointer;
}

.editIcon:hover path {
  fill: rgb(44, 85, 218);
}

.trashIcon:hover path {
  fill: rgb(255, 78, 78);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
